<h1>All Plants</h1>

<ul>
  <% @plants.each do |plant| %>
    <li class="plant-item">
      <h3 class="plant-name"><%= plant.name %></h3>
      <p>Height: <%= plant.height %></p>
      <p>Flowering: <%= plant.flowering %></p>
    </li>
  <% end %>
</ul>
