<%= link_to "Update Plant", "/plants/#{@plant.id}/edit" %>

<h3><%= @plant.name %></h3>
<p><strong>Height(inches):</strong> <%= @plant.height %></p>
<p><strong>Flowering:</strong> <%= @plant.flowering %></p>