<h1>All Gardens</h1>

<ul>
  <% @gardens.each do |garden| %>
    <p class="garden-name"><%= garden.name %></p>
    <small>Created at: <%= garden.created_at %></small><br>
    </li>
  <% end %>
</ul>

<%= link_to "New Garden", "/gardens/new" %>